<div id="page">
  <div class="container">
    <div class="top">
      <h2>Dashboard</h2>
      <div id="sort-type" class="float-end">
        Sort by:
        <div class="btn-group">
          <button type="button" class="btn my-btn-s" (click)="changeBool(true)">Date</button>
          <button type="button" class="btn my-btn-s" (click)="changeBool(false)">Class</button>
        </div>
      </div>
    </div>
    <div id="list">
      <div *ngIf="byDateBool">
        <div *ngFor="let i of byDateMap.keys()" class="accordion">
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button type="button" class="accordion-button">
                {{i}}
              </button>
            </h3>
            <div class="accordion-body">
              <div *ngFor="let assign of byDateMap.get(i)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!byDateBool">
        byClass
      </div>
    </div>
  </div>
</div>
