<div class="page">
  <div class="container">
    <div class="top">
      <h2>Dashboard</h2>
      <div id="sort-type" class="float-end">
        Sort by:&nbsp;
        <div class="btn-group">
          <button type="button" class="btn my-btn-s" (click)="byDateBool=true">Date</button>
          <button type="button" class="btn my-btn-s" (click)="byDateBool=false">Class</button>
        </div>
      </div>
    </div>
    <div #list *ngIf="teacherBool">
      <!--Teacher Lists-->
    </div>
    <div #list *ngIf="!teacherBool">
      <!--Student Lists-->
    </div>
  </div>
</div>
