#navBar{
  height: 10%;
  width: 100%;
  box-shadow:
    inset 0px -10px 15px #35155D,
    inset 0px -5px  5px  #35155D;
  background-color: #8CABFF;
  color: #35155D;
}
#page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}
