#maxW{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.user-form {
  min-width: 350px;
  padding: 25px;
  background-color : #512B81;
  border-style: solid;
  border-width: 2px;
  border-radius: .5em;
  border-color: #355ca0;
  color: #8CABFF;
  box-shadow: 4px 4px 15px #000000AA,
              4px 4px 10px #00000055,
              4px 4px 05px #00000000;
}
h2{
  text-decoration: underline;
}
