<nav id="topNavBar">
  <button type="button" class="btn home-btn" (click)="home()">
    <h1>
      <i class="fa-solid fa-dragon"></i>
      Bena-Wiesner
    </h1>
  </button>
  <div id="nav-btn-group" class="btn-group" *ngIf="isAuthenticated()">
    <button type="button" class="btn" (click)="home()">Dashboard</button>
    <button type="button" class="btn">Class List</button>
  </div>
  <div *ngIf="isAuthenticated()">
    <button type="button" class="btn" (click)="account()">
      {{User!.FirstName}}
    </button>
    <button type="button" class="btn btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
