#topNavBar{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 15px;
}
.btn{
  font-size: x-large;
  color: #35155D;
}
.home-btn{
  height: 100%;
  padding-top: 1px;
  padding-left: 2px;
  color: #35155D;
}
.home-btn:active{
  border-color: #8CABFF00;
}
.home-btn>h1{
  font-size: xxx-large;
}
