.container{
  display: flex;
  flex-wrap: wrap;
}
.classContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 25vh;
  padding: 2%;
}
.classCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #35155D;
  background-color: #8CABFF;
  border: 5px solid #4477CE;
  border-radius: 10px;
  box-shadow: 4px 4px 15px #000000AA,
              4px 4px 10px #00000055,
              4px 4px 05px #00000000;
}
.classCard:hover{
  background-color: #4477CE;
  border: 5px solid #8CABFF;
}
